
.nav{
    float:right;
}
body{
    height: auto;
    width: 100%;
    margin:0px;
    background-color: rgb(196, 188, 188);
}
.first_class .nav li{
   
    display: inline;
    
    
    color: white;
    padding: 50px;
}
.first_class{ 
    width: 100%;
    height: auto;
    background-image:url("images/image2.png") ;
    background-size: cover;
    margin: 0px;
    
    
}
