
.nav{
    float:right;
}
body{
    height: auto;
    width: 100%;
    margin:0px;
    background-color: rgb(196, 188, 188);
}
.first_class .nav li{
   
    display: inline;
    
    
    color: white;
    padding: 50px;
}
.first_class{ 
    width: 100%;
    height: auto;
    background-image:url("images/image2.png") ;
    background-size: cover;
    margin: 0px;
    
    
}
h1{
    margin-left: 30px;
    margin-top: 100px;
    color: white;

} 
.logo{
margin-left: 20px;
padding-top: 20px;


    display: inline;
}
#order{
    background-color: coral;
    line-height: 330px;
    margin-left: 30px;
    color: white;
} 
span{
    color: coral;

} 