
.nav{
    float:right;
}
body{
    height: auto;
    width: 100%;
    margin:0px;
    background-color: rgb(196, 188, 188);
}
.first_class .nav li{
   
    display: inline;
    
    
    color: white;
    padding: 50px;
}

